/* Table Styles */
table {
  text-align: left;
}

th {
  border: 1px solid black;
  padding: 0.5rem 0;
  padding-right: 1rem;
}

td {
  border: 1px solid lightslategray;
  padding-right: 1rem;
}

.num {
  text-align: right;
  padding-right: 0;
  padding-left: 1rem;
}
